@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

/* Custom Premium Horizontal Scrollbar */
.premium-horizontal-scroll::-webkit-scrollbar {
  height: 6px;
}
.premium-horizontal-scroll::-webkit-scrollbar-track {
  background: linear-gradient(90deg, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.08) 50%, rgba(255,255,255,0.02) 100%);
  border-radius: 10px;
  margin: 0 20px; 
}
.premium-horizontal-scroll::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
}
.premium-horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255,255,255,0.35);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
